[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
SyslogIdentifier=zookeeper
Environment="JAVA_HOME=/opt/wd/app/jdk"
WorkingDirectory=/data/dbs/zookeeper
User=wd
Group=wd
UMask=0027
ExecStart=/opt/wd/app/zookeeper/bin/zkServer.sh start /opt/wd/etc/zookeeper/zoo.cfg
ExecStop=/opt/wd/app/zookeeper/bin/zkServer.sh stop /opt/wd/etc/zookeeper/zoo.cfg
ExecReload=/opt/wd/app/zookeeper/bin/zkServer.sh restart /opt/wd/etc/zookeeper/zoo.cfg
Restart=on-abort

[Install]
WantedBy=multi-user.target
