[Unit]
Description=The nginx HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/opt/run/nginx.pid
ExecStartPre=-/usr/bin/rm -f /opt/run/nginx.pid
ExecStartPre=/opt/nginx/nginx -t
ExecStart=/opt/nginx/nginx
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
KillSignal=SIGQUIT
TimeoutStopSec=5
PrivateTmp=true
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
